@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layout";
@using project.Models
@model List<Product>
}
 @if (ViewBag.err!=null)
    {
        <script type="text/javascript">  
            window.onload = function () {  
                alert("@ViewBag.err");  
            };  
        </script>  
    }
    <!-- Block Element Modifier -->
        <div class="app__container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2">
                        <div class="category">
                            <h3 class="category__heading">
                                <i class="category__heading-icon fas fa-list"></i> Danh mục
                            </h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active" value="0" onclick="chooseCategory(this)">
                                     <p class="category-item__link" > Tất cả</p>
                                    @*<a href="#" class="category-item__link">Tất cả</a>*@
                                </li>
                                @foreach(Category c in ViewBag.categories){
                                    <li class="category-item" onclick="chooseCategory(this)" value="@c.CategoryId">
                                        <p class="category-item__link"> @c.CategoryName</p>
                                        @*<a href="/Home/List/@c.CategoryId" class="category-item__link">@c.CategoryName</a>*@
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /* Home sort+filter  */ -->
                    <div class="grid__column-10">
                        <div class="home-filter">
                            <span class="home-filter__label">Sắp xếp theo</span>
                            <button class="home-filter-btn btn">Phổ biến</button>
                            <button class="home-filter-btn btn btn--primary">Mới nhất</button>
                            <button class="home-filter-btn btn">Bán chạy</button>
                            <div class="select-input">
                                <select id="sort" onchange="submitForm(1)"> 
                                    <option value="0">
                                        Giá
                                    </option>
                                    <option value="1">
                                        Từ thấp đến cao
                                    </option>
                                    <option value="2">
                                        Từ cao đến thấp
                                    </option>
                                </select>
                               @* <span class="select-input__label">Giá</span>
                                <i class='select-input__icon fa-solid fa-chevron-down'></i>
                                <div class="select-input-option">
                                    <ul class="select-input___list">
                                        <li class="select-input__item">
                                            <p href="" class="select-input__link header__search-option-item--active" value="1">Giá thấp đến cao</p>
                                            <p href="" class="select-input__link" value="2">Giá cao đến thấp</p>
                                        </li>
                                    </ul>
                                </div>*@
                            </div>

                        </div>
                        <div class="home-product">
                            <div class="grid__row" id="content">
                                <!--Product-->
                                @foreach( Product p in Model)
                                {
                                <div class="grid__column-2-4">
                                    <a class="home-product-item" href="/product/detail/@p.ProductId">
                                        <div class="home-product-item__img"
                                            style="background-image: url(@p.Thumbnail);">
                                        </div>
                                        <h4 class="home-product-item__img-name">
                                          @p.ProductName
                                        </h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__oldprice">@(String.Format("{0:0,00}", p.OriginalPrice)) đ</span>
                                            <span class="home-product-item__current">@(String.Format("{0:0,00}", p.SalePrice)) đ </span>
                                        </div>
                                        <div class="home-product-item__action">
                                            <span class="home-product-item__like home-product-item__like--liked">
                                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                            </span>


                                            <div class="home-product-item__rating">
                                                <i class="fas fa-star home-product-item__stargold"></i>
                                                <i class="fas fa-star home-product-item__stargold"></i>
                                                <i class="fas fa-star home-product-item__stargold"></i>
                                                <i class="fas fa-star home-product-item__stargold"></i>
                                                <i class="fas fa-star home-product-item__stargold"></i>
                                            </div>
                                            <span class="home-product-item__sold">@p.UnitOnOrder đã bán</span>
                                        </div>
                                        <div class="home-product-item__origin">
                                            <span class="home-product-item__brand">@p.Brand</span>
                                            <span class="home-product-item__origin-name">@p.Origin</span>
                                        </div>
                                        <div class="home-product-item__favourite">
                                            <span>
                                                <i class="fas fa-check"></i> Yêu thích
                                            </span>

                                        </div>
                                        <div class="home-product-item__sale-off">
                                            <span class="home-product-item__sale-off-percent">@p.discount()%</span>
                                            <span class="home-product-item__sale-off-label">Giảm</span>
                                        </div>
                                    </a>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <footer class="footer">
                    <div class="pagination" id="page-nav">
                        <div class="grid__column-2"></div>
                        <div class="content-paging content-paging-footer" name="page">
                            <div class="title-paging"> <span>Page @ViewBag.curPage  of @ViewBag.numPage<span></div>
                            <nav class="" aria-label="...">
                                <ul class="pagination">
    
                                    <li class="page-item">
                                        <a class="page-link  
                                            @(1==ViewBag.curPage?"disabled":"")"
                                        onclick="paging(@(ViewBag.curPage-1))" >Previous</a>
                                    </li>
                                   
                                    <select class="select-paginate" id="paging" 
                                        onchange="submitForm($('#paging').children('option:selected').val())">
                                        @for(int i = 1; i <= ViewBag.numPage; i++)
                                        {
                                        <option value="@i" @((ViewBag.curPage==i?"selected":"")) >
                                            @i
                                        </option>
                                        }
                                    </select>
                                    <li class="page-item ">
                                        <a class="page-link @(ViewBag.numPage==ViewBag.curPage?"disabled":"")" onclick="paging(@(ViewBag.curPage+1))"  >Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </footer>
            </div>
        </div>
    
      